<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {# Run composer require symfony/webpack-encore-bundle to start using Symfony UX #}
    <link rel="stylesheet" href="{{ asset('assets/css/base.css') }}">
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>

<body>
<nav class="navbar">
    <a class="logo-homeLink" href="{{ path('app_main') }}">
    <img class="logo" src='{{ asset('assets/img/arosaje_Logo.PNG') }}' alt="logo">
    </a>
    <ul class="nav-list">
        {% if app.request.attributes.get('_route') != "app_main" %}
            <li class="nav-item"><a href="/">Accueil</a></li>
        {% endif %}
        {% if  not app.user %}
            <li class="nav-item">Connexion</li>
        {% endif %}
        {% if app.user and app.request.attributes.get('_route') != "app_new_post" %}
            <li class="nav-item" style="margin-left: 12%"><a href="{{ path('app_new_post') }}">+</a></li>
        {% endif %}
        {% if app.user  and app.request.attributes.get('_route') != "app_profile" %}
            <li class="nav-item" style="margin-left: 12%"><a href="{{ path('app_profile') }}">Mes demandes</a></li>
        {% endif %}
        {% if app.user  and app.request.attributes.get('_route') == "app_profile" %}
            <li class="nav-item" style="margin-left: 12%"><a href="{{ path('app_delete_profile') }}">Supprimer compte</a></li>
        {% endif %}
        {% if app.user and is_granted('ROLE_BOT')%}
            <li class="nav-item" style="margin-left: 12%"><a href="{{ path('conseil_app_plant') }}">Plantes</a></li>
        {% endif %}       
        {% if app.user %}
            <li class="nav-item" style="margin-left: 12%"><a href="{{ path('message_box') }}">Boite de réception</a></li>
        {% endif %}
        {% if app.user and is_granted('ROLE_ADMIN')%}
            <li class="nav-item" style="margin-left: 12%"><a href="{{ path('admin_app_admin') }}">Administration</a></li>
        {% endif %}
        {% if app.user %}
            <li class="nav-item" style="margin-left: 12%"><a href="{{ path('app_logout') }}">Déconnexion</a></li>
        {% endif %}
    </ul>
</nav>
{% block body %}

{% endblock %}

</body>

</html>