@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    font-family: "Roboto", sans-serif;
}
body {
    background-image: url('../img/Arosaje_wallpaper.png');
    background-repeat: repeat-y;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    z-index: -1;
 }

.navbar{
    display: flex;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 50px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    width: 80%;
    height: 100px;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    justify-content: space-between;
    padding-right: 50px;
    font-weight: bold;
    border-radius: 5px;
}
.nav-list {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 30%;
}

.nav-item{
    position: relative;
    list-style: none;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    font-size: 1rem;
}
.nav-item > a {
    display: inline-block;
    width: fit-content;
}
.nav-item::after{
    content: "";
    position: absolute;
    display: block;
    bottom: 0;
    left: 50%;
    height: 2px;
    width: 0;
    background : black;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
}
.nav-item:hover::after{
    width: 100%;
    left: 0;
}
.logo{
    width: 100%;
    margin-left: 10px;
    border-radius: 15px;
    opacity: 90%;
}
.logo-homeLink {
    display: inline-block;
    width: 150px;
    height: 80px;
}
.logo:hover{
    padding: 0.2px;
    margin-bottom: 1em;
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
    transition: .5s;
}
.input{
    border-style: solid;
    border-color: gray;
    border-radius: 25px;
    background:none;
}
a{
    text-decoration: none;
    color: unset;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}