{% extends 'base.html.twig' %}
{% block title %}Liste des demandes{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/chat.css') }}">
{% endblock %}
{% block body %}
    <h2 style="text-align: center">Liste demandes :</h2>
    <div class="new-message">
        <button id="btn_modal">Ouvrir une nouvelle discussion</button>
    </div>
    <div id="container">
        <aside>
            <header>
                <input type="text" placeholder="Rechercher..">
            </header>
            <ul id="chat_list">
                {% for chat in chats %}
                    {% if app.user.email == chat.receiver.email %}
                    <li id="{{ chat.sender.id }}" class="chat_start">
                        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.pngfind.com%2Fpngs%2Fm%2F93-938050_png-file-transparent-white-user-icon-png-download.png&f=1&nofb=1&ipt=c1aa809cc65f365137d11d4ba1953e789851dc2fff50671b325f5262f8197eb6&ipo=images">
                        <div>
                        <h2>{{ chat.sender.email }}</h2>
                    {% else %}
                        <li id="{{ chat.receiver.id }}" class="chat_start">
                        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.pngfind.com%2Fpngs%2Fm%2F93-938050_png-file-transparent-white-user-icon-png-download.png&f=1&nofb=1&ipt=c1aa809cc65f365137d11d4ba1953e789851dc2fff50671b325f5262f8197eb6&ipo=images">
                        <div>
                        <h2>{{ chat.receiver.email }}</h2>
                    {% endif %}
                            <h3>
                                <span class="status green"></span>
                                online
                            </h3>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </aside>
        <main>
            <header>
                <img id="img_top_chat">
                <div>
                    <h2 id="chat_with">Chat</h2>
                    <h3 id="count_message"></h3>
                </div>
            </header>
            <ul class="chat">
            </ul>
            <footer>
                <textarea placeholder="Entrez votre message" id="msg_input"></textarea>
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/ico_picture.png" alt="">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/ico_file.png" alt="">
                <a id="btn_send_msg">Envoyer</a>
            </footer>
        </main>
    </div>
    <div id="myModal" class="modal" style="display: none">
        <!-- Modal content -->
        <div class="modal-content">
            <select name="user_chat" class="select2_users">
                <option value="#">Sélectionnez un utilisateur</option>
                {% for user in users %}
                    <option value="{{ user.id }}">{{ user.email }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <script>
        // Get the modal
        $(document).ready(function() {
            $('.select2_users').select2();
            $('.select2_users').on('change', () => {
                var user_id = $('.select2_users').val();
                $.ajax({
                    url: "{{ path('chat_new') }}",
                    type: "POST",
                    data: {
                        user_id: user_id
                    },
                    success: function (data) {
                        addChat(data)
                    }
                })
            })
        });
        var modal = document.getElementById("myModal");
        const btn_trigger_modal = document.getElementById("btn_modal");
        const chatContainer = document.querySelector('.chat')
        const btn_send_msg = document.getElementById("btn_send_msg");
        btn_trigger_modal.addEventListener('click', () => {
            modal.style.display = "block";
        })
        window.onclick = (event) => {
            if(event.target == modal) {
                modal.style.display = "none";
            }
        }
        document.querySelectorAll('.chat_start').forEach((li) => {
            li.addEventListener('click', () => {
                loadChat(li.id)
            })
        })
        btn_send_msg.addEventListener('click', () => {
            sendMsg();
        })
        async function loadChat(id){
            const opt = {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    targetUser: id
                })
            }
            const response = await fetch("{{ path('chat_load') }}", opt);
            const data = await response.json();
            chatContainer.innerHTML = "<div class='spinner'></div>";
            await buildChat(data);
        }
        async function sendMsg(){
            const msg = document.getElementById('msg_input').value;
            const chatId = chatContainer.id;
            const opt = {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    content : msg,
                    chatId : chatId
                })
            }
            const response = await fetch("{{ path('chat_send') }}", opt);
            if(response.ok){
                const data = await response.json();
                await createMessage({
                    sender: "{{ app.user.email }}",
                    content: msg,
                    date: new Date('now')
                });
            }
        }
        async function buildChat(data){
            if(chatContainer.childElementCount > 0){
                while(chatContainer.firstChild){
                    chatContainer.removeChild(chatContainer.firstChild);
                }
            }
            chatContainer.id = data.infos.id;
            await buildTop(data);
            console.log(data)
            if(!data.messages){
                return;
            }
            data.messages.forEach((message) => {
                createMessage(message);
            })
        }
        async function createMessage(message){
            const userConnected ="{{ app.user.email }}"
            const html = `
                    <li class="${message.sender == userConnected ? "me" : "you"} new-message">
                    <div class="entete">
                        <h3>${message.date}</h3>
                        <h2>${message.sender}</h2>
                        <span class="status blue"></span>
                    </div>
                    <div class="triangle"></div>
                    <div class="message">
                        ${message.content}
                    </div>
                </li>`
            chatContainer.innerHTML += html;
            chatContainer.scrollTop = chatContainer.scrollHeight;
        }
        async function buildTop(data){
            const count_message = document.getElementById('count_message');
            const chat_with = document.getElementById('chat_with');
            const img = document.getElementById('img_top_chat');
            img.src = "https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.pngfind.com%2Fpngs%2Fm%2F93-938050_png-file-transparent-white-user-icon-png-download.png&f=1&nofb=1&ipt=c1aa809cc65f365137d11d4ba1953e789851dc2fff50671b325f5262f8197eb6&ipo=images";
            count_message.innerHTML = data.infos.count + " messages";
            chat_with.textContent = "Chat avec " + data.infos.target
        }
        async function addChat(chat){
            const chatContainer = document.querySelector('.chat')
            const userConnected ="{{ app.user.email }}"
            const html = `
            <li id="${chat.receiver.email == userConnected ? chat.idSender : chat.idReceiver}" class="chat_start">
                <img src="https://external-content.duckduckgo.com/iu/?u=http…953e789851dc2fff50671b325f5262f8197eb6&ipo=images">
                <div>
                    <h2>${chat.receiver.email == userConnected ? chat.sender : chat.receiver}</h2>
                    <h3><span class="status green"></span>online</h3>
                </div>
            </li>
            `
            const list = document.querySelector('#chat_list');
            list.innerHTML += html;
            await loadChat(chat.idSender)
            modal.style.display = "none";
        }
    </script>
{% endblock %}
{% block javascripts %}

{% endblock %}